USE [MD_CONTAB]
GO
/****** Object:  Table [dbo].[C01DicFolders]    Script Date: 23/12/2025 09:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C01DicFolders](
	[tablename] [varchar](60) NOT NULL,
	[tablealias] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[tablename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
