USE [MD_CONTAB]
GO
/****** Object:  Table [dbo].[C01Account]    Script Date: 23/12/2025 09:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C01Account](
	[ID_Account] [varchar](24) NOT NULL,
	[ID_Parent] [varchar](24) NULL,
	[Descrip] [varchar](80) NOT NULL,
	[ID_AccountRef] [varchar](24) NOT NULL,
	[DescripShort] [varchar](60) NULL,
	[siLevel] [tinyint] NOT NULL,
	[boMovement] [bit] NOT NULL,
	[boBudget] [bit] NOT NULL,
	[Activity] [tinyint] NOT NULL,
	[TypeAcct] [tinyint] NOT NULL,
	[TypeHAC] [tinyint] NOT NULL,
	[boCostCenter] [bit] NOT NULL,
	[boThird] [bit] NOT NULL,
	[boTaxBase] [bit] NOT NULL,
	[ID_Export] [varchar](24) NULL,
	[ID_Fit] [varchar](24) NULL,
	[ColumOffset] [tinyint] NOT NULL,
	[boBank] [bit] NOT NULL,
	[boCurrency] [bit] NOT NULL,
	[ID_Currency] [varchar](3) NOT NULL,
	[Budget] [decimal](28, 2) NULL,
	[LastBudget] [decimal](28, 2) NULL,
	[BudPercent] [decimal](28, 2) NULL,
	[boAmount] [bit] NOT NULL,
	[boStatus] [bit] NOT NULL,
	[dtDate] [datetime] NOT NULL,
	[ID_Correc] [varchar](24) NULL,
 CONSTRAINT [C01Account0] PRIMARY KEY CLUSTERED 
(
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ('REGISTRO NUEVO') FOR [Descrip]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((1)) FOR [siLevel]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boMovement]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boBudget]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [Activity]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [TypeAcct]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [TypeHAC]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boCostCenter]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boThird]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boTaxBase]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [ColumOffset]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boBank]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boCurrency]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ('BS') FOR [ID_Currency]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [Budget]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [LastBudget]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [BudPercent]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boAmount]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT ((0)) FOR [boStatus]
GO
ALTER TABLE [dbo].[C01Account] ADD  DEFAULT (getdate()) FOR [dtDate]
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD  CONSTRAINT [C01AccountFK01] FOREIGN KEY([ID_Fit])
REFERENCES [dbo].[C01Account] ([ID_Account])
GO
ALTER TABLE [dbo].[C01Account] CHECK CONSTRAINT [C01AccountFK01]
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD  CONSTRAINT [C01AccountFK02] FOREIGN KEY([ID_Parent])
REFERENCES [dbo].[C01Account] ([ID_Account])
GO
ALTER TABLE [dbo].[C01Account] CHECK CONSTRAINT [C01AccountFK02]
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([Activity]>=(0) AND [Activity]<=(4)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boAmount]=(1) OR [boAmount]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boBank]=(1) OR [boBank]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boBudget]=(1) OR [boBudget]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boCostCenter]=(1) OR [boCostCenter]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boCurrency]=(1) OR [boCurrency]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boMovement]=(1) OR [boMovement]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boStatus]=(1) OR [boStatus]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boTaxBase]=(1) OR [boTaxBase]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([boThird]=(1) OR [boThird]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([ColumOffset]=(1) OR [ColumOffset]=(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  ((len([Descrip])<>(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  ((len([ID_Account])<>(0)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([siLevel]>=(1)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([TypeAcct]>=(0) AND [TypeAcct]<=(4)))
GO
ALTER TABLE [dbo].[C01Account]  WITH CHECK ADD CHECK  (([TypeHAC]>=(0) AND [TypeHAC]<=(2)))
GO
