USE [MD_CONTAB]
GO
/****** Object:  Table [dbo].[C01FixedLoc]    Script Date: 23/12/2025 09:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C01FixedLoc](
	[ID_LocFix] [varchar](6) NOT NULL,
	[Descrip] [varchar](80) NOT NULL,
	[Note] [text] NULL,
	[boStatus] [bit] NOT NULL,
 CONSTRAINT [C01FixedLoc0] PRIMARY KEY CLUSTERED 
(
	[ID_LocFix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[C01FixedLoc] ADD  DEFAULT ('REGISTRO NUEVO') FOR [Descrip]
GO
ALTER TABLE [dbo].[C01FixedLoc] ADD  DEFAULT ((1)) FOR [boStatus]
GO
