USE [MD_CONTAB]
GO
/****** Object:  Table [dbo].[C01PolicyItem]    Script Date: 23/12/2025 09:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C01PolicyItem](
	[ID_Policy] [varchar](8) NOT NULL,
	[ID_Fix] [varchar](15) NOT NULL,
	[NLine] [int] IDENTITY(1,1) NOT NULL,
	[Status] [smallint] NOT NULL,
 CONSTRAINT [C01PolicyItem0] PRIMARY KEY CLUSTERED 
(
	[ID_Policy] ASC,
	[ID_Fix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[C01PolicyItem] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[C01PolicyItem]  WITH CHECK ADD  CONSTRAINT [C01PolicyItemFK01] FOREIGN KEY([ID_Policy])
REFERENCES [dbo].[C01Policys] ([ID_Policy])
GO
ALTER TABLE [dbo].[C01PolicyItem] CHECK CONSTRAINT [C01PolicyItemFK01]
GO
ALTER TABLE [dbo].[C01PolicyItem]  WITH CHECK ADD  CONSTRAINT [C01PolicyItemFK02] FOREIGN KEY([ID_Fix])
REFERENCES [dbo].[C01FixedAssest] ([ID_Fix])
GO
ALTER TABLE [dbo].[C01PolicyItem] CHECK CONSTRAINT [C01PolicyItemFK02]
GO
ALTER TABLE [dbo].[C01PolicyItem]  WITH CHECK ADD CHECK  ((len([ID_Fix])>(0)))
GO
