USE [MD_CONTAB]
GO
/****** Object:  Table [dbo].[SCIINCON]    Script Date: 23/12/2025 09:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCIINCON](
	[DB] [varchar](255) NULL,
	[DataContab] [varchar](255) NULL,
	[ErrorN] [int] NULL,
	[Document] [varchar](255) NULL,
	[Detail] [varchar](255) NULL,
	[ErrorD] [varchar](255) NULL
) ON [PRIMARY]
GO
