USE [MD_CONTAB]
GO
/****** Object:  Table [dbo].[XCTCONS00045143]    Script Date: 23/12/2025 09:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XCTCONS00045143](
	[ID_Account] [varchar](24) NOT NULL,
	[Descrip] [varchar](80) NOT NULL,
	[boThird] [bit] NOT NULL,
	[boTaxBase] [bit] NOT NULL,
	[boBank] [bit] NOT NULL,
	[boCostCenter] [bit] NOT NULL,
	[boBudget] [bit] NOT NULL,
	[Activity] [tinyint] NOT NULL,
	[TypeAcct] [tinyint] NOT NULL
) ON [PRIMARY]
GO
