<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\apc.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\SIADLogs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://0.0.0.0:5000" />
          <environmentVariable name="SIAD_KEYS_DIR" value="C:\SIADLogs\keys" />
          <environmentVariable name="SIAD_LOG_DIR" value="C:\SIADLogs" />
        </environmentVariables>
      </aspNetCore>
      <!-- No definir mimeMap aquí para evitar duplicados si ya existen en IIS -->
    </system.webServer>
  </location>
</configuration>
