<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <aspNetCore processPath="dotnet" 
                  arguments=".\apc.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- WebSockets se habilita a nivel servidor IIS (no aquí para evitar 0x80070021) -->
      
      <!-- Configuración para archivos estáticos y compresión -->
      <staticContent>
        <remove fileExtension=".blat" />
        <remove fileExtension=".dat" />
        <remove fileExtension=".wasm" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
        <mimeMap fileExtension=".woff" mimeType="font/woff" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      </staticContent>
      
      <httpCompression>
        <dynamicTypes>
          <add mimeType="application/wasm" enabled="false" />
        </dynamicTypes>
      </httpCompression>
      
      <!-- Configuración de seguridad y reescritura -->
      <rewrite>
        <rules>
          <rule name="Redirect to HTTPS" enabled="false" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="524288000" />
          <verbs allowUnlisted="true">
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
            <add verb="PATCH" allowed="true" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      
    </system.webServer>
  </location>
</configuration>
